.resizable-draggable {
    position: absolute;
    outline: 1px solid #999999;
    background: #FFFFFFAA;
    &:hover {
        cursor: all-scroll;
        outline: 1px solid #0E73f8;
    }

    &.active {
        outline-style: dotted;
        background-color: #0E73f80D;
        outline: 1px dashed #0E73f8;
    }

    span:first-of-type {
        position: absolute;
        left: 50%;
        transform: translate3d(-50%, -100%, 0);
    }

    span:nth-of-type(2) {
        position: absolute;
        top: 50%;
        transform: translate3d(-100%, -50%, 0);
    }
    
    span:nth-of-type(3) {
        position: absolute;
        transform: translate3d(-100%, -100%, 0);
    }
}

.resizable-dim {
    font-size: .6em;
    font-family: 'Arial';
    color: #0E73f8;
    padding: .4em;
}

.width-dim {
    left: 50%;
    top: 0%;
}

.height-dim {
    text-align: right;
    left: 0% !important;
    transform: translate3d(-100%, -50%, 0) !important;
    top: 50%;
}

.resize-action {
    position: absolute;
    left: 100%;
    top: 100%;
    transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
    border-style: solid;
    border-width: 8px;
    border-color: transparent;
    
    &:hover, &:active {
        cursor: nwse-resize;
        border-color: transparent transparent transparent #0E73F8;
    }
}

.resize-rigth-action {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) rotateZ(0deg);
    border-style: solid;
    border-width: 8px;
    border-color: transparent;
    
    &:hover, &:active {
        cursor: ew-resize;
        border-color: transparent transparent transparent #0E73F8;
    }
}

.resize-left-action {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) rotateZ(180deg);
    border-style: solid;
    border-width: 8px;
    border-color: transparent;
    
    &:hover, &:active {
        cursor: ew-resize;
        border-color: transparent transparent transparent #0E73F8;
    }
}

.resize-top-action {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate3d(-50%, -50%, 0) rotateZ(270deg);
    border-style: solid;
    border-width: 8px;
    border-color: transparent;
    
    &:hover, &:active {
        cursor: ns-resize;
        border-color: transparent transparent transparent #0E73F8;
    }
}

.resize-bottom-action {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate3d(-50%, -50%, 0) rotateZ(90deg);
    border-style: solid;
    border-width: 8px;
    border-color: transparent;
    
    &:hover, &:active {
        cursor: ns-resize;
        border-color: transparent transparent transparent #0E73F8;
    }
}


.close-action {
    position: absolute;
    font-family: 'Arial';
    font-size: 10px;
    padding: 4px;
    color: transparent;
    left: 100%;
    top: 0;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
    width: 10px;
    border-radius: 14px;
    background: transparent;
    
    &:hover, &:active {
        cursor: pointer;
        color: #FFFFFF;
        background: #0E73F8;
    }
}

.collisionId {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-family: 'Arial';
    font-size: 8px;
    color: #0E73f8;
}
